
@{
    ViewBag.Title = "Index";
}

 <!-- Title -->
<div class="hk-pg-header">
    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="database"></i></span></span>Data Tables</h4>
</div>
<!-- /Title -->

